{% extends 'schwitter/base.html' %}
{% load staticfiles%}
{% block title_block %}
    About
{% endblock %}

{% block body_block%}
    <h1 class="blue">Why Schwitter?</h1>

    <div>
        <p>Schwitter is the new up an coming social media service for students!</p>
        <br />
        <strong>We pride ourselves in providing a simple and reliable service for young adults to keep in touch which each other!
            So why not try it and recommend it to your friends!</strong>
    </div>
{% endblock %}