<!DOCTYPE html>
{% load staticfiles %}
{% load schwitter_template_tags %}

<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/css/base.css">
		<title>
			Schwitter - 
			{% block title_block %}
				Home
			{% endblock %}
		</title>
	</head>
	<body>
		<div>
			{% block body_block %}
				This is body_blocks default.
			{% endblock %}
		</div>
		<div>
			{% block sidebar_block %}
				{% get_category_list category %}
			{% endblock %}
		</div>
		<div>
			<ul>
				{% if user.is_authenticated %}
					<li><a href="{% url 'home' %}">Home</a></li>
					<li><a href="{% url 'profile' %}">Profile</a></li>
					<li><a href="{% url 'settings' %}">Settings</a></li>
					<li><a href="{% url 'logout' %}">Logout</a></li>
				{% else %}
					<li><a href="{% url 'login' %}">Sign in</a></li>
					<li><a href="{% url 'register' %}">Sign Up</a></li>
				{% endif %}
				<li><a href="{% url 'about' %}">About</a></li>
			</ul>
		</div>
	</body>
</html>