{% extends 'schwitter/base.html' %}
{% load staticfiles%}
{% block title_block %}
    Contact
{% endblock %}

{% block body_block%}
    <h1 class="blue center">Got feedback?</h1>

    <div class="card" id="post">
        <div class="container" >
        <h4>If you'd like to report an issue, leave a complaint or otherwise get in contact with us,
            you can do so using provided contact info below:</h4>
        <ul style="list-style-type:none" >
            <li><u>Email: 2257307n@student.gla.ac.uk</u></li>
            <li><u>Phone:0141 339 8999</u></li>
        </ul>
        </div>
    </div>
{% endblock %}