{% extends 'schwitter/base.html' %}
{% load staticfiles %}

{%block title_block %}
	Home
{% endblock %}

{% block body_block %}
	{% if user.is_authenticated %}
		<ul>
		<div class = "post">
		<form id="Post_Form" method="post" action="{% url 'home' %}">
   			{% csrf_token %}
    			{{ form.as_p }}
		<input type="submit" name="submit" value="Create New Post" />
		</form>
   		</div>
		{% if posts %}
			{% for post in posts %}
				<li><div class ="card" id='post'>
					<p id='poster_detail'><img src="{{ MEDIA_URL }}{{ post.poster.picture }}"><a href="{% url 'profile' post.poster.username %}">{{ post.poster.user.username }}</a></p>
					<p id='post_content'>{{ post.content }}</p>
					<ul>
					{% for comment in comments %}
					<li><div id='comment'>
						<p id='commenter_detail'><img src="{{ MEDIA_URL }}{{ comment.poster.picture }}"><a href="{% url 'profile'  comment.poster.username %}">{{comment.poster.user.username}}></a></p>
						<p id='comment_content'>{{ comment.content }}</p>
						</div></li>
					{% endfor %}
					</ul>
			</div></li>
			{% endfor %}
		</ul>	
	{% else %}
		<Strong>None of your friends have posted anything...or maybe you just have no friends :P</Strong>
		<div class="card" id='post'>
			<h2>People you may know:</h2>
			<ul>
				{% for user in users %}
				<li>{{ user.picture }}{{ user.username }}</li>
			</ul>
				{% endfor %}
		</div>
	{% endif %}

	{% else %}
		<p> Here could be posts, if you were logged in...</p>
	{% endif %}
{% endblock %}
