{% extends 'schwitter/base.html' %}
{% load staticfiles %}

{%block title_block %}
	Home
{% endblock %}

{% block body_block %}
	{% if user.is_authenticated %}
		{% if posts %}
			{% for post in posts %}
				<div id='post'>
					<img src="{% POSTERS PROFILE TODOLATER %}"><a href="{% POSTERS URL %}">{% POSTERS USERNAME %}</a>
					<p>{% POST TEXT %}</p>
					<img src="{% POST image %}"</a>
			
		{% else %}
			<Strong>None of your friends have posted anything.</Strong>
		{% endif %}