{% extends 'schwitter/base.html' %}
{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
<h1 class="blue center">Login to Schwitter</h1>
<div class="card" id="post">
    <div class="container">

    <form id="login_form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="padding525">
        <h3>Username: <input type="text" name="username" value="" size="50" /></h3>
        <br />
        <h3>Password: <input type="password" name="password" value="" size="50" /></h3>
        <br />
        <input class="custombutton box darkgrey " type="submit" value="submit" />
    </div>
    </form>
</div>
</div>
{% endblock %}