	{% if posts %}
            <ul>
            {% for post in posts %}
                <li>
			<div class ="card" id='post'>
				<img src="{{ MEDIA_URL }}{{ post.poster.picture }}"><a href="{% url 'profile' post.poster.user.username  %}">{{ post.poster.user.username }}</a>
				<p>{{ post.content }}</p>
				{% get_comment_list post %}
			</div>
		</li>
<!--
			{% if user.is_authenticated %}
	                        <a href="{% url 'add_comment' %}">Add a comment</a>
                        	{% if notliked %}
                        		<a href="{% url 'add_like' %}"><img src="{% static "images/like-button.jpg" %}"</a>
                        		{% likecount %}
                        	{% else %}
                        		<a href="{% url 'remove_like' %}"><img src="{% static "images/like-button.jpg" %}"</a>
                        {% likecount %}
                    		{% endif %}
                    	{% else %}
                         	You need to login to like this post: <a href="{% url 'login' %}"><img src="{% static "images/like-button.jpg" %}"</a>
                        	{% likecount %}
                    	{% endif %}
-->
            {% endfor %}
            </ul>
        {% else %}
            <strong>This user has no posts yet.</strong>
        {% endif %}