{% extends 'schwitter/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Register
{% endblock %}

{% block body_block %}

	{% if registered %}
		<h1 class ="blue center">Success!</h1>
		<div class ="card" id="post"><Strong class="center">Thank you for registering!</strong>
		<a href="{% url 'home' %}">Return to the homepage.</a><br />
		</div>
	{% else %}
		<h1 class ="blue center">Register for Schwitter!</h1>
		<div class ="card" id ="post"><strong>Just fill out the form below. Easy as 1, 2, 3!</strong></div>

		<div class="card" id="post">
			<div class="container">
			<form id="user_form" method="post" action="{% url 'register' %}"
			enctype="multipart/form-data">

		{% csrf_token %}

		{{ user_form.as_p }}
		{{ profile_form.as_p }}

		<input type="submit" name="submit" value="Register" />
		</form>
		</div>
		</div>
	{% endif %}
{% endblock %}
