{% extends 'schwitter/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ post.name }}
{% endblock %}

{% block body_block %}

        <h3 class="blue">{{post.title}}</h3>
<!--
            {% if user.is_authenticated %}
                <form id="Comment_form" method="post" action="{% url 'view_post' %}">
			{% csrf_token %}
			{% form.as_p %}
                {% if notliked %}
                <a href="{% url 'add_like' %}"><img src="{% static "images/like-button.jpg" %}"</a>
                {% likecount %}
                {% else %}
                <a href="{% url 'remove_like' %}"><img src="{% static "images/like-button.jpg" %}"</a>
                {% likecount %}
-->
	<ul>
	{% if posts %}
		{% for post in posts %}
			<li><div id='post'>
				<p id='poster_detail'><img src="{{ MEDIA_URL }}{{ post.poster.picture }}"><a href="{% url 'profile' post.poster.username %}">{{ post.poster.user.username }}</a></p>
				<p id='post_content'>{{ post.content }}</p>
				<ul>
				{% for comment in comments %}
					<li><div id='comment'>
						<p id='commenter_detail'><img src="{{ MEDIA_URL }}{{ comment.poster.picture }}"><a href="{% url 'profile'  comment.poster.username %}">{{comment.poster.user.username}}></a></p>
						<p id='comment_content'>{{ comment.content }}</p>
					</div></li>
				{% endfor %}
				</ul>
			</div></li>
		{% endfor %}

	</ul>
			
		
	{% else %}
		<Strong>Post does not exist</Strong>
	{% endif %}
 
<!--
                    {% if user.is_authenticated %}
                        {% if notliked %}
                        <a href="{% url 'add_like' %}"><img src="{% static "images/like-button.jpg" %}"</a>
                        {% likecount %}
                        {% else %}
                        <a href="{% url 'remove_like' %}"><img src="{% static "images/like-button.jpg" %}"</a>
                        {% likecount %}
	

                    {% else %}
                    You must be logged in to comment or like.
                    {% endif %}
                </div>
-->
{% endblock %}
