body {
	margin: 0;
	background: mintcream;
	font-family: "Lato", sans-serif;
    transition: background-color .5s;
	}
div #topbar {
	position: relative;
	top: 0;
	left: 0;
	width:100vw;
	background: lightsteelblue;
	}

div #post{
	Position: relative;
	width:50vw;
	left:25vw;
	background: aliceblue !important;
	text-align: center;

	}

.center{
	position: relative;
	text-align: center;
}

.blue {
	color: darkslateblue;

}

.red {
   color : red;
	background-color : white;
   border : 1px solid black;
}
.bold{

}

p #post {
}


.custombutton{

    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
	transition: box-shadow 0.4s;

}

.darkgrey {
	color: whitesmoke !important;
	background-color: lightslategrey !important;
}


.box:hover {
  box-shadow: 0 0 20px rgba(71,71,71,.5);
}

.toprelative{
	position:relative;
	top: 50px;
}

